<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sarkari Result,Sarkari Results,government notifications,Top Online Form,Sarkari Exam| Result 2019</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    .jobcat {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .demo {
        padding: 30px;
        min-height: 280px;
    }

    * {
        box-sizing: border-box
    }

    .list-group-item {
        border: 0px !important;
    }

    /* Style the tab */
    .tab {
        float: left;
        border: 1px solid #ccc;
        background-color: #fff;
        width: 30%;
        height: 300px;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
        display: block;
        background-color: inherit;
        color: black;
        padding: 22px 16px;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current "tab button" class */
    .tab button.active {
        background-color: #007bff;
        color: #fff;
    }

    /* Style the tab content */
    .tabcontent {
        float: left;
        padding: 0px 12px;
        border: 1px solid #ccc;
        width: 70%;
        border-left: none;
        height: 300px;
    }

    .h1,
    h1 {
        font-size: 1.5rem !important;
    }

    .seohead {
        text-decoration: underline;
        color: #007bff;
        font-size: 22px;
        background-color: #fff;
        font-family: Arial;

    }

    .logo {
        color: #007bff !important;
        font-size: 24px !important;

    }

    .seobody {
        font-size: 16px;
        color: #000000;
        font-family: Arial;
        text-align: center;
    }

    .row {
        width: 100% !important;
        max-width: 100% !important;

        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .container {
        width: 100% !important;
        max-width: 100% !important;

        padding-right: 0px !important;
        padding-left: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;

    }

    .glow {
        font-size: 16px;

        color: #fff;
        text-align: center;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
    }

    @media screen and (min-width:320px) and (max-width:767px) {
        .hidden-xs {
            display: none !important;
        }
    }

    @-webkit-keyframes glow {
        from {
            text-shadow: 0 0 10px #0c0c0c, 0 0 20px #0c0c0c, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
        }

        to {
            text-shadow: 0 0 20px #0c0c0c, 0 0 30px rgb(200, 217, 236), 0 0 40px rgb(200, 217, 236), 0 0 50px rgb(200, 217, 236), 0 0 60px #rgb(200, 217, 236), 0 0 70px rgb(200, 217, 236), 0 0 80px rgb(200, 217, 236);
        }
    }
</style>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
        <div class="container my-0">
            <a class="navbar-brand logo" href="#">Sarkari notify</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sarkari results</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Admit cards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Current affairs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mock tests</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-2 mt-5">


                <div class='card hidden-xs'>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active glow">
                            Latest Mocktests
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                        <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at
                            eros</a>
                        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                        <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at
                            eros</a>
                    </div>
                </div>

            </div>
            <div class="col-md-8 text-center">
                <h1 class="mt-5">Welcome To Official Sarkari Result,(SARKARINOTIFY.COM)</h1>

                <div class="row ">
                    <div class=" col-sm-3 jobcat">
                        <div class="card">
                            <a href="#">
                                <div class="card-body">
                                    <h5 class="card-title">Bank jobs</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class=" col-sm-3 jobcat">
                        <div class="card">
                            <a href="#">
                                <div class="card-body">
                                    <h5 class="card-title">SSC jobs</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class=" col-sm-3 jobcat">
                        <div class="card">
                            <a href="#">
                                <div class="card-body">
                                    <h5 class="card-title">PSC jobs</h5>


                                </div>
                            </a>
                        </div>
                    </div>
                    <div class=" col-sm-3 jobcat">
                        <div class="card">
                            <a href="#">
                                <div class="card-body">
                                    <h5 class="card-title">Defence jobs</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class=" col-sm-3 jobcat">
                        <div class="card">
                            <a href="#">
                                <div class="card-body">
                                    <h5 class="card-title">Education jobs</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class=" col-sm-3 jobcat">
                        <div class="card">
                            <a href="#">
                                <div class="card-body">
                                    <h5 class="card-title">Helathcare jobs</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class=" col-sm-3 jobcat">
                        <div class="card">
                            <a href="#">
                                <div class="card-body">
                                    <h5 class="card-title">Power jobs</h5>


                                </div>
                            </a>
                        </div>
                    </div>
                    <div class=" col-sm-3 jobcat ">
                        <div class="card">
                            <a href="#">
                                <div class="card-body">
                                    <h5 class="card-title">Railway jobs</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="row my-2">
                    <div class="tab">
                        <button class="tablinks active" onclick="openTab(event, 'State')">State Government</button>
                        <button class="tablinks" onclick="openTab(event, 'Central')">Central Government</button>
                        <button class="tablinks" onclick="openTab(event, 'qualification')">Jobs By
                            Qualification</button>

                    </div>

                    <div id="State" class="tabcontent list-group ">
                        <div class='row'>
                            <div class="col-md-6">
                                <a href="#" class="list-group-item list-group-item-action">Andhra pradesh</a>
                                <a href="#" class="list-group-item list-group-item-action">Madhya prdesh</a>
                                <a href="#" class="list-group-item list-group-item-action">Telangana</a>
                                <a href="#" class="list-group-item list-group-item-action disabled">Bihar</a>
                                <a href="#" class="list-group-item list-group-item-action disabled">Punjab</a>
                                <a href="#" class="list-group-item list-group-item-action disabled">Arunachal
                                    pradesh</a>

                            </div>
                            <div class="col-md-6">
                                <a href="#" class="list-group-item list-group-item-action">Maharastra</a>
                                <a href="#" class="list-group-item list-group-item-action">Madhya prdesh</a>
                                <a href="#" class="list-group-item list-group-item-action">Westbengal</a>
                                <a href="#" class="list-group-item list-group-item-action disabled">Goa</a>
                                <a href="#" class="list-group-item list-group-item-action disabled">Kerala</a>
                                <a href="#" class="list-group-item list-group-item-action disabled">Tamilnadu</a>

                            </div>
                        </div>
                    </div>

                    <div id="Central" class="tabcontent list-group" style="display: none;">
                        <div class='row'>
                            <div class="col-md-6">
                                <a href="#" class="list-group-item list-group-item-action">Army</a>
                                <a href="#" class="list-group-item list-group-item-action">Navy</a>
                                <a href="#" class="list-group-item list-group-item-action">Airforce</a>
                                <a href="#" class="list-group-item list-group-item-action disabled">R.B.I</a>
                            </div>
                            <div class="col-md-6">
                                <a href="#" class="list-group-item list-group-item-action">Army</a>
                                <a href="#" class="list-group-item list-group-item-action">Navy</a>
                                <a href="#" class="list-group-item list-group-item-action">Airforce</a>
                                <a href="#" class="list-group-item list-group-item-action disabled">R.B.I</a>
                            </div>
                        </div>

                    </div>
                    <div id="qualification" class="tabcontent list-group" style="display: none;">
                        <div class='row'>
                            <div class="col-md-6">
                                <a href="#" class="list-group-item list-group-item-action">SSC</a>
                                <a href="#" class="list-group-item list-group-item-action">Degree</a>
                                <a href="#" class="list-group-item list-group-item-action">MBBS</a>
                                <a href="#" class="list-group-item list-group-item-action disabled">Inter</a>
                            </div>
                            <div class="col-md-6">
                                <a href="#" class="list-group-item list-group-item-action">Army</a>
                                <a href="#" class="list-group-item list-group-item-action">Navy</a>
                                <a href="#" class="list-group-item list-group-item-action">Airforce</a>
                                <a href="#" class="list-group-item list-group-item-action disabled">R.B.I</a>
                            </div>
                        </div>

                    </div>

                </div>
                <div class='row my-2'>
                    <div class="col-md-6 card">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action active">
                                Admit cards
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                            <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                            <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                            <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at
                                eros</a>
                            <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                            <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                            <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                            <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at
                                eros</a>
                        </div>
                    </div>
                    <div class="col-md-6 card">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action active">
                                Sarkari Results
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                            <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                            <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                            <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at
                                eros</a>
                            <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                            <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                            <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                            <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at
                                eros</a>
                        </div>
                    </div>

                </div>
                <!-- SEO CONTENT -->
                <div class="row">
                    <div class='card my-2'>

                        <span class='seohead'><strong>Sarkari
                                Result, sarkarinotify.com : sarkari result,Online Result | Result
                                2019</strong></span>
                        <p class='seobody mt-2'><span>Sarkari Result सरकारी रिजल्ट Provides You All The
                                Latest
                                Sarkari Result,RRB NTPC Admit Card,Bihar Police SI,Group D Exam, Sarkari Job, UP
                                Board Result 2019-20, Scholarship Status, Latest Sarkari Exam, Sarkari Result,
                                Sarkari Results Info.</span></p>
                    </div>
                    <div class='card my-2'>

                        <span class='seohead'><strong>Sarkari Result : Top Sarkari
                                Job</strong></span>
                        <p class='seobody mt-2'><span>sarkari result is way to search all Latest Jobs,Top
                                Online Form,Other Online Form,Result,Answer Key, Syllabus,Admit Card,Admission
                                Form,Scholarship Form, UP scholarship Status at sarkarinotify.com.<br>
                                These All sarkari result Contain Various Exam
                                Like
                                RRB NTPC Exam Date,Railway Group D Exam 2019-20,Bihar Police SI,UP TGT
                                PGT,UP
                                Police,SSC CGL,SSC MTS,Airforce,IBPS PO,IBPS Clerk,Army
                                Rally,UPSC,NIELIT,CCC,UPSSC Lower PCS,UP Scholarship, UP Scholarship Status
                                etc.</span></p>
                    </div>
                    <div class='card my-2'>

                        <span class='seohead'><strong>Sarkari Result 2019-20</strong></span>
                        <p class='seobody mt-2'><span>All the sarkari result
                                notification,We Provide All Information And Result Related To Latest Job,<a
                                    href="https://www.sarkarinotify.com/" target="_blank" rel="noopener">Top Online
                                    Form</a>, Other Online Form,Admit Card,Sarkari Exam Result, Of Various Exam Like
                                UP
                                TET 2019,UPSC IES, UP Police New Vacancy 2019, New Railway Vacancy 2019,SSC JE,
                                Bank,
                                Railway, Army Bharti,Gram Panchayat Job.</span></p>
                    </div>

                </div>
                <!-- SEO CONTENT -->

            </div>
            <div class="col-md-2 mt-5">

                <div class='card hidden-xs'>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active glow">
                            Current Affairs
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                        <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at
                            eros</a>
                        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                        <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at
                            eros</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.slim.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

</body>


</html>

<script>
    function openTab(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the link that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>